/*----------------------------------
Base
----------------------------------*/

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*before,*after{
    box-sizing: inherit;
}

/*----------------------------------
Générique
----------------------------------*/

.wrapper{
    max-width:1200px;
    margin:0 auto;
}

body{
    font-family:"Roboto", sans-serif;
    margin:0;
    padding:0;
}

a{
    text-decoration:none;
    color:black;
}

ul{
    list-style:none;
}

/*----------------------------------
Components
----------------------------------*/

/*HEADER*/

.logo{
    font: 400 4.2rem "Josefin Sans", sans-serif;
}

header{
    border-top:4px;
    border-left:0px;
    border-right:0px;
    border-bottom:0px;
    border-style:solid;
    border-color:#E25254;
}

header .wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:70px;
}

header ul{
    display:flex;
    gap:10px;
    justify-content:center;
}

header li{
    font:400 1.8rem "Roboto", sans-serif;
}

header li:hover{
    color:#E25254;
}

/*HERO*/

.hero{
    background-image:url(../images/Rectangle\ 2.jpg);
    background-repeat:no-repeat;
    background-position:center;
    height:600px;
    background-size:cover;

}

.conteneur{
    background-color:rgba(226, 82, 84, 0.9);
    width:600px;
    padding: 50px 30px 47px 30px;
}

.conteneur p{
    font-weight:400;
    font-size:1.8rem;
    color:white;
    width:539px;
}

h1{
    font-weight:bold;
    font-size:4.8rem;
    color:white;
}

.conteneur a{
    background-color:#C0392B;
    color:white;
    font-size:1.8rem;
    font-weight:400;
    height:40px;
    width:110px;
    display:block;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left:auto;
}

.hero .wrapper{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    min-height:600px;
}